.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.home-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem 0;
  padding: 2rem;
}

.home-heading {
  color: #f8fafc;
  font-size: 4rem;
}

.home-description {
  color: #f8fafc;
  font-size: 1.25rem;
}

.jobs-btn {
  background-color: #6366f1;
  color: #f8fafc;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    gap: 0;
  }
  .home-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem 0;
    padding: 1rem;
  }
  .home-heading {
    font-size: 2rem;
  }
  .jobs-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
}
